


  <h2>Book detail</h2>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <%= link_to book_path(@book.id) do %>
            <p>プロフ画像<%= image_tag @book.user.get_profile_image(100,100) %></p>
            <p>ユーザー名：<%= @book.user.name %></p>
            <% end %>
          </td>
          <td>
            <p>title：<%= @book.title %></p>
          </td>
          <td>
            <p>opinion：<%= @book.body %></p>
          </td>
          <td>
            <!-- booksのeditにshowにリンク飛ばしたい： -->
            <% if @book.user == current_user %>
            <%= link_to "edit", edit_user_path(@book) %>
            <% end %>
          </td>
          <td>
            <!-- booksにリンク飛ばしたい： -->
            <% if @book.user == current_user %>
            <%= link_to "Destroy", books_path(@book), method: :delete %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
